
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;  
  }
  
  a {
    text-decoration: none;  
  }
  
  body {
    background: black;  
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;  
    gap: 30px;
  }
  
  .title {
    font-size: 30px;
    color: white;
    text-transform: uppercase;  
  }
  .input {
    max-width: 300px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    outline: none;  
  }
  
  h2 {
    color: white;  
  }
  
  .btn {
    background: rgb(89, 119, 89);  
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    font-size: 22px;
  }
  
  .game__box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(47, 46, 46);  
    position: relative;
    box-shadow: 0 0 10px 0 white;
  }
  
  .ball {
    position: absolute;
    border-radius: 50%;  
  }
  
  @media(max-width:600px) {
    .game__box {
      width: 400px;
      height: 400px;
    }
    .title {
      font-size: 27px;
    }
    .btn {
      padding: 10px 18px;
    }
  }
  
  @media(max-width:500px) {
    .game__box {
      width: 350px;
      height: 350px;
    }
    .title {
      font-size: 24px;
    }
    .input {
      max-width: 250px;
      width: 100%;
    }
    .btn {
      padding: 9px 15px;
    }
  }
  @media(max-width:400px) {
    .game__box {
      width: 300px;
      height: 300px;
    }
  } 
  @media(max-width:340px) {
    .game__box {
      width: 275px;
      height: 275px;
    } 
  }